:root {
  --color-dark: #141619;
  --color-mid-dark: #2c2e3a;
  --color-deep-blue: #050a44;
  --color-bright-blue: #0a21c0;
  --color-light-gray: #b3b4bd;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light-gray);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--color-deep-blue);
  color: var(--color-light-gray);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: var(--color-mid-dark);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px;
  display: flex;
  justify-content: space-between;  /* Align items at both ends */
  align-items: center;
}

nav a {
  color: var(--color-light-gray);
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

nav a:hover {
  background-color: var(--color-bright-blue);
}

nav .right-buttons {
  display: flex;  /* For positioning the buttons */
}

button {
  background-color: var(--color-bright-blue);
  color: var(--color-light-gray);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;  /* Space between buttons */
}

button:hover {
  background-color: var(--color-deep-blue);
}

section {
  padding: 20px;
  background-color: var(--color-mid-dark);
  margin-top: 20px;
  border-radius: 8px;
}

footer {
  background-color: var(--color-deep-blue);
  color: var(--color-light-gray);
  text-align: center;
  padding: 10px;
}
