/* Base Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

body {
  background-image: url(../assets/background_2.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  color: #a1c349;
}

h2 {
  text-align: center;
  color: #a1c349;
}

h3 {
  text-align: center;
  colour: #cad593;

/* NAVIGATION */
/* Style the navbar */
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #87a330;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}
