/* Base Styles */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

body {
  background-image: url(../assets/background_3.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  color: #ff6600;
}

h2 {
  text-align: center;
  color: #739f80;
}

h3 {
  text-align: center;
  colour: #a0ced9;
}

/* NAVIGATION */
/* Style the navbar */
#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #739f80; /* Updated background color */
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

/* Navbar links */
#navbar a {
  color: #ff6600;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ff6600;
  color: #739f80;
}

/* Page content */
.content {
  padding: 16px;
}
